# Fundamentals of Data Analysis Project 2018 - THE BOX PLOT

## This project has four objectives :

1. Summarise the history of the box plot and situations in which it is used.
2. Demonstrate the use of the box plot using data of your choosing.
3. Explain any relevant terminology such as the terms quartile and percentile.
4. Compare box plots to alternatives.

## The Box Plot
***

The box plot (also known as the box-and-whisker plot or the box-whisker plot) was created in 1970 by John Tukey, who many consider to be the father of exploratory data analysis.(1) An interesting fact about John Tukey is that he is credited with coining the terms *software* and *bit*. (2) He is also the brother in law of Francis Anscombe, who was the creator of the Anscombe quartet.(3). Tukey developed the box plot for several reasons, such as to broadly understand the data, to physically present data, to generate hypotheses and build models to guide research, to add robust measures to an analysis and to aid the researcher in finding the most appropriate method for analysis.(4) 

The boxplot is a "Five Number Summary" of a given data set and is a graphical visual based on these five numbers (5). The five numbers are :
1. the *minimum* -  the smallest  value value in the data set.
2. the *first quartile* - is the median of the lower half of the data set.
3. the *median* - is the median value of the whole data set.
4. the *third quartile* - is the median of the upper half of the data set.
5. the *maximum* - is the largest value in the data set.

In today's world, the box plot is mainly used as a way to visualize data distribution. A real world example of the use of box plots came from scientists who tracked the coral coverage of the Great Barrier Reef over a period of 27 years (1985 - 2012).(6) The box plot was extremly useful in this study because it gave a very understandable picture of the reef's health decline over the 27 years.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## The Box Plot Demonstration

In [4]:
import csv

In [14]:
y = open("IREPop.csv")

To demonstrate the use of a box plot, I will use the population of the Republic of Ireland from 1851 through 2011 (7).
*Note, the census was not taken every year*. It was taken in the following years :

In [22]:
cvs_y = csv.reader(y)
df = pd.read_csv("IREPop.csv")
df.head(24)

    Year Total Population      Males    Females  No. Of females per 100 males
0   1841        6,528,799  3,222,485  3,306,314                           103
1   1851        5,111,557  2,494,478  2,617,079                           105
2   1861        4,402,111  2,169,042  2,233,069                           103
3   1871        4,053,187  1,992,468  2,060,719                           103
4   1881        3,870,020  1,912,438  1,957,582                           102
5   1891        3,468,694  1,728,601  1,740,093                           101
6   1901        3,221,823  1,610,085  1,611,738                           100
7   1911        3,139,688  1,589,509  1,550,179                            98
8   1926        2,971,992  1,506,889  1,465,103                            97
9   1936        2,968,420  1,520,454  1,447,966                            95
10  1946        2,955,107  1,494,877  1,460,230                            98
11  1951        2,960,593  1,506,597  1,453,996                            97
12  1956        2,898,264  1,462,928  1,435,336                            98
13  1961        2,818,341  1,416,549  1,401,792                            99
14  1966        2,884,002  1,449,032  1,434,970                            99
15  1971        2,978,248  1,495,760  1,482,488                            99
16  1979        3,368,217  1,693,272  1,674,945                            99
17  1981        3,443,405  1,729,354  1,714,051                            99
18  1986        3,540,643  1,769,690  1,770,953                           100
19  1991        3,525,719  1,753,418  1,772,301                           101
20  1996        3,626,087  1,800,232  1,825,855                           101
21  2002        3,917,203  1,946,164  1,971,039                           101
22  2006        4,239,848  2,121,171  2,118,677                           100
23  2011        4,588,252  2,272,699  2,315,553                           102

In [ ]:
##References
***
1. https://flowingdata.com/2011/12/06/40-years-of-boxplots/
2. https://community.jmp.com/t5/JMP-Blog/Celebrating-Statisticians-John-W-Tukey/ba-p/30349   
3. https://community.jmp.com/t5/JMP-Blog/Celebrating-Statisticians-John-W-Tukey/ba-p/30349
4. https://public.credoreference.com/content/topic/box_plot   
5. https://chartio.com/resources/tutorials/what-is-a-box-plot/   
6. https://www.ck12.org/statistics/applications-of-box-and-whisker-plots/rwa/Counting-Coral/  
7. http://census.ie/in-history/population-of-ireland-1841-2006/